h2{
text-align: center;
padding-bottom: 3%;
padding-top: 3%;
}

.divBotonCrear{
text-align: center;
padding-bottom: 2%;
padding-top: 2%;
}

button{
 overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover{
  transform: translateY(-1px);
  box-shadow: 0 2px 10px rgb(0, 12, 66);
}
