
<h2>Crea tu noticia</h2>

<div class="form-floating mb-3">
  <!--aqui lo que hago es que el valor de este input sea dado a nuevaNoticia en su respetcivo valor
  es decir por ejemplo en el input de Titulo se le dara valor a nuevaNoticia.titulo mediante ngModel
  y de esta forma lo hago en todos los input-->
  <input type="text" class="form-control" id="Titulo" placeholder="" [(ngModel)]="nuevaNoticia.titulo">
  <label for="Titulo">Titulo de la noticia</label>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="imagen" placeholder="" [(ngModel)]="nuevaNoticia.imagen">
  <label for="imagen">Url de la imagen</label>
</div>
<div class="form-floating mb-3">
  <input type="url" class="form-control" id="cuerpo" placeholder="" [(ngModel)]="nuevaNoticia.cuerpoNoticia">
  <label for="cuerpo">cuerpo de la noticia</label>
</div>
<div class="form-floating mb-3">
  <input type="date" class="form-control" id="fecha" placeholder="" [(ngModel)]="nuevaNoticia.fechaNoticia">
  <label for="fecha">fehca de la noticia</label>
</div>
<div class="divBotonCrear">
  <!--aqui lo que hago es mediante (click) llamar a la funcion guardarDatos del componenteFormulario.ts
  de tal manera que lo q hace es cada vez que se da click a este boton se ejecuta esa funcion que tiene ya los validadores dentro-->
  <button class="btn bg-dark text-light" type="submit" (click)="guardarDatos()">Publicar</button>
</div>

