        body {
            height: 100vh;
            background: linear-gradient(135deg, #0d6efd, #6610f2);
            color: #fff;
        }
        .error-code {
            font-size: 8rem;
            font-weight: 800;
        }
