
<h1>Noticias del dia</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <!--este for lo que hace es ir recorriendo el array y pintando todas las noticias mediante el html de abajo-->
        @for (noticiaActual of arrayNoticias; track noticiaActual.titulo; let i = $index;) {
    <div class="col">
    <div class="card miCard">
    <img [src]="noticiaActual.imagen" class="card-img-top w-auto" alt="">
    <div class="card-body">
        <h5 class="card-title">{{noticiaActual.titulo}}</h5>
        <p class="card-text">{{noticiaActual.cuerpoNoticia}}</p>
        <p class="card-text"><small class="text-body-secondary">{{noticiaActual.fechaNoticia | date:'dd/MM/yyyy'}}</small></p>
    </div>
    </div>
    </div>
}
</div>
