h1 {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
}

.miCard {
  height: 100%;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.miCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgb(0, 12, 66);
}

.texto {
  text-align: justify;
}

hr {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
